/*general styles start*/
px* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: auto;
}
body {
    font-family: "Roboto", sans-serif;
    padding-top: 44px;
}
/*general styles finish*/

/*header styles start*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header__search-input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    flex: 0.8;
    height: 40px;
    background-image: url('../img/icons/header__search-input-logo.svg');
    background-position: left 11px center;
    background-repeat: no-repeat;
    padding-left: 35px;
}
.header__first-button {
    padding: 8px 16px;
    background: #1890FF;
    border-radius: 2px;
    border: 1px solid #1890FF;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__second-button {
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.first-button-icon {
    margin-right: 6px;
}
.second-button-icon {
    margin-right: 6px;
}
/*header styles finish*/

/*main styles start*/

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

/*main-promo styles start*/
.main-promo {
    background: #FFF1B8 url('../img/main-promo__image.png') right -150px bottom -10px no-repeat;;
    border-radius: 10px;
    padding: 68px 0px 68px 70px;
    margin-bottom: 56px;
}
.main-promo__title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    max-width: 450px;
}
.main-promo__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
    max-width: 530px;
}
/*main-promo styles finish*/

/*main-subtitle styles start*/
.main-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.main-subtitle__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.main-subtitle__search-form {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url('../img/icons/main-subtitle__form-icon.svg');
    background-position: left 11px center;
    background-repeat: no-repeat;
    padding: 8px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 24px;
    width: 300px;
}
/*main-subtitle styles finish*/

/*main-cards styles start*/

.main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    margin-bottom: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    flex-basis: 31%;
    text-decoration: none;
}
.card-image {
    object-fit: cover;
}
.card-description {
    padding: 20px 23px 24px 24px;
}
.card-description__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-description__header-item {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.card-description__header-tag {
    background: #262626;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 1px 8px;
}
.card-description__info {
    display: flex;
    align-items: center;
}
.card-description__info-rating {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
    margin-right: 26px;
}
.card-description__info-price, .card-description__info-categoty {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.card-description__info-price:after {
    content: "";
    width: 5px;
    height: 5px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
    background-color: #8C8C8C;
    margin: 0px 10px;
}
/*main styles finish*/

/*footer styles start*/

.footer {
    padding: 60px 0px;
}
.footer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.footer-body__nav-menu {
    margin-left: 35px;
    margin-right: auto;
}
.footer-body__social-media {
    display: flex;
    align-items: center;
}
.footer-link__social:not(:last-child) {
    margin-right: 21px;
}
/*footer styles finish*/

/*media styles start*/

@media (max-width: 1366px){
    .container {
        max-width: 960px;
    }
    .main-promo {
        background-size: 540px;
        background-position: bottom -5px right -160px;
    }
    .card-description__info-rating, .card-description__info-price, .card-description__info-categoty {
        font-size: 14px;
        line-height: 22px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .main-promo {
        background-size: 360px;
        background-position: bottom right -110px;
    }
    .main-promo__title {
        font-size: 29px;
        line-height: 36px;
        max-width: 450px;
    }
    .main-promo__subtitle{
        font-size: 18px;
        line-height: 22px;
        max-width: 430px;
    }
    .card {
        flex-basis: 49%;
    }
    .footer {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .card-description__info-rating {
        flex-basis: 100%;
    }
    .card-description__info {
        flex-wrap: wrap;
    }
    .card-description__header-item {
        font-size: 18px;
    }
    .footer-body__nav-menu {
        max-width: 250px;
    }
    .main-promo {
        padding: 53px 0px 53px 55px;
        background-size: 290px;
        background-position: bottom right -90px;
    }
    .main-promo__subtitle {
        font-size: 14px;
        line-height: 20px;
        max-width: 320px;
    }
    .main-promo__title {
        font-size: 22px;
        line-height: 26px;
    }
}
@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .header__search-input {
        order: 5;
        margin-top: 15px;
        flex: 1;
    }
    .main-subtitle__search-form {
        font-size: 12px;
        line-height: 16px;
        width: 200px;
    }
    .main-promo {
        background-image: none;
        padding: 20px;
    }
    .main-subtitle__title {
        font-size: 26px;
        line-height: 32px;
    }
    .card {
        flex-basis: 100%;
    }
    .card-image {
        width: 100%;
    }
    .footer-body {
        align-items: flex-start;
    }
    .footer-body__nav-menu {
        order: 0;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }
    .footer-body__logo {
        order: 1;
        margin-right: 15px;
    }
    .footer-body__social-media {
        order: 2;
    }
}
@media (max-width: 480px) {
    .button-text {
        display: none;
    }
    .main-subtitle {
        flex-wrap: wrap;
    }
    .main-promo {
        padding: 30px;
        margin-bottom: 0;
    }
    .footer-body {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer-body__logo {
        order: 0;
        margin-bottom: 15px;
    }
    .footer-body__nav-menu {
        margin-bottom: 15px;
        text-align: center;
        max-width: 125px;
    }
    .footer-link:not(:last-child) {
        margin-right: 0;
    }
}
